/* Additional adjustments to ensure responsiveness */

@media (min-width: 300px){

  .carousel-overlay h1 {
    font-size: 1em;
  }

  .header-top {
    padding: 0;
  }
  .shop-section h2 {
    font-size: 1.5rem;
  }

  .shop-products img {
    height: auto;
  }

  .products-section h2 {
    font-size: 1.5rem;
  }

  .products {
    margin: 0;
    height: auto;
    width: auto;
  }

  .products img {
    height: 100%;
    max-width: 100%;
  }
  
  .contact-form-section {
    width: 87%;
    max-width: 100%;
  }

  .about-us-section h2 {
    font-size: 1.5rem;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center images along the main axis */
    height: 100%;
    gap: 0.2rem;
    padding: 0.2rem;
    max-width: 100%;

  }
  .gallery img {
    flex: 1 1 50%;
    border-color: #ffef61;
    flex: 0 0 calc(50% - 10px); /* Switch to two images per row on very small screens */
    max-width: calc(50% - 10px);
  }

  .contact-right {
    padding-left: 0em;
  }

  .contact-details{
    width: 80%;
  }

  .map-contact-container{
    margin: 0rem;
    /* border-color: #ffee58; */
    width: 100%;  /* Adjust to the desired width */
    height: auto;
  }

  .footer-divider .f-divider {
    width: auto;
    max-width: 100%;
  }
}

@media (max-width: 740px) {

  .about-carousel-slide img {
    height: 100%;
    width: 100%;
  }

  .about-carousel p{
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .gallery img {
    flex: 0 0 calc(33.33% - 1rem); /* Reaffirm three images per row for screens wider than 768px */
    max-width: calc(33.33% - 1rem);
  }
}

@media (max-width: 768px) {

  .search__input{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7em;
    width: 100rem;
  }
  
  .search__button{
    width: 2.4rem;
    height: 2.4rem;
  }
  
  .search__icon, .search__close {
    font-size: 1rem;
  }

  .show-search {
    margin: 1rem;
  }

  .about-col p{
    padding: 1rem;
  }

  .gallery img {
    flex: 0 0 calc(50% - 1rem); /* Two images per row for mobile screens */
    max-width: calc(50% - 1rem);
  }

  .submit-button {
    width: 10rem;
  }

  .products-section .product img{
    flex: 1 1 100%;
  }

  .shop-product {
    flex: 1 1 100%; /* Each product takes full width on smaller screens */
  }

  .shop-categories {
    grid-template-columns: 1fr; /* Stack products in a single column on small screens */
  }

  .contact-right {
    padding-left: 0em;
  }

  .product {
    flex-basis: 100%;
  }

  .contact-item {
    flex-direction: column;
    align-items: center;
  }
  
  .about-carousel{
    min-width: 8rem;
  }

  .about-carousel-slide img {
    max-height: 100%;
    max-width: 100%;
  }

  .about-carousel p{
    padding-left: 1rem;
  }

  .why-us-section .why-us-icons {
    justify-content: space-between; /* Adjusts spacing for smaller screens */
  }
  
  .why-us-section .icons {
    flex-basis: 100%; /* Each icon takes the full width of the container on small screens */
    margin-bottom: 20px; /* Adds more space between stacked items */
  }
  
  .footer-divider .f-divider {
    height: 0.2rem;
    border-color: #ffee58;
    border-radius: 1rem;
    background-color: #ffee58;
    width: 56rem;
    max-width: 100%;
    margin: 1rem 0;
  }

  .map-contact-container {
    flex-direction: column; /* Stacks map and contact details vertically on smaller screens */
  }

  .contact-map{
    min-width: 100%; /* Takes full width on small screens */
    max-width: 100%; /* Prevents overflow */
  }
  .contact-details {
    width: 100%; 
    max-width: 100%; /* Prevents overflow */
  }

  .gallery img {
    flex: 1 1 100%; /* 2 images per row */
    max-width: 100%; /* Adjusting max-width accordingly */
  }

  .footer-divider .f-divider {
    width: 60%;
    max-width: 100%;
  }
}

@media (min-width: 800px) {
  
  .carousel-overlay h1 {
    font-size: 2rem;
  }

  .shop-products img {
    height: auto;
  }

  .about-col {
    height: 35rem;
  }

  .about-carousel-slide img {
    max-height: 100%; /* Prevent image from overflowing */
  }

  .contact-item {
    justify-content: center;
    align-items: center;
  }

  .footer-divider .f-divider {
    height: 0.2rem;
    border-radius: 1rem;
    background-color: #dcab6b;
    height: 0.3rem;
    width: 56rem;
    max-width: 100%;
    margin: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .carousel-overlay h1 {
    font-size: 3rem;
  }

  .gallery img {
    flex: 0 0 calc(33.33% - 1rem); /* Reasserting dimensions for larger screens */
    max-width: calc(33.33% - 1rem);
  }
}
