/* Gallery Zoom CSS */
.photo-gallery-with-zoom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; /* Added margin for clarity */
}

.photo-gallery-with-zoom img {
  max-height: 19vh;
  margin: 5px;
  border-radius: 5px;
  border: solid 1px white;
  transition: transform .3s ease-in-out; /* Smooth transformation */
  cursor: pointer; /* Cursor indicates clickable */
}

.photo-gallery-with-zoom img:hover {
  transform: scale(1.3); /* Scale the image on hover */
  z-index: 10;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.3s ease, background-size 0.3s ease;
    cursor: zoom-in;
}

.zoomed-in {
  background-size: 200%; /* Larger background size for zoom */
  cursor: zoom-out;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* Gallery styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.gallery img {
  flex: 1 1 20%; /* Default setting: 5 images per row */
  max-width: 100%; /* Slightly less than flex-basis to account for margin */
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.gallery img:hover {
  transform: scale(1.1);
}
