/* Font */
@font-face {
  font-family: 'CustomFont'; /* Your custom font name */
  src:url('../fonts/fonts/Zodiak-Variable.woff2') format('woff2'),
      url('../fonts/fonts/Zodiak-Variable.woff') format('woff');
  font-weight: normal; /* Optional: define the weight */
  font-style: normal; /* Optional: define the style */
}

* {
  font-family: 'CustomFont', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

header {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-top {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #261f29;
  background-color: #ffe678;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.contact-info img{
  width: 1.5rem;
  background-color: None;
}

.contact-info img:hover{
  transform: scale(1.1);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 6rem;
}

/* Search styles */
.search {
  position: relative;
  width: 5em;
  height: 5em;
  background-color: var(--white-color);
  /* box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1); */
  border-radius: 4rem;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  margin-top: 1em;
}

.search__input {
  border: none;
  outline: none;
  font-size: 1em;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 2em;
  padding-right: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.search__button {
  width: 56px;
  height: 56px;
  color: #000;
  background-color: var(--black-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 15%;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__button:hover{
  transform: rotate(-40deg) scale(2);
}
.search__icon, .search__close {
  color: #000;
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s ease;
}

.search__close {
  opacity: 0;
}

.show-search {
  width: 30em;
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

.navbar {
  background-color: #FFF;
  color: #e8edf8;
  padding: 10px 200px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  background-color: #FFF;
  color: #000;
  padding: 0.6em;
  transition: all 0.15s;
}

.navbar ul li a:hover {
  background-color: #e8edf8;
  color: #5e6684;
  border-radius: 20px;
}


.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 100%;
}

.shop-section, .products-section, .about-us-section, .why-us-section, .gallery-section, .testimonials-section, .contact-us-section {
  padding: 40px;
  text-align: center;
}

.shop-categories, .products, .why-us-icons, .gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Product Image Styling */
.products img {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Ensures the image maintains aspect ratio and fills the area */
  border-radius: 8px; /* Optional: adds rounded corners */
}

.category, .product, .icon, .gallery img {
  flex: 1;
}

.gallery img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Contact section styles */
.contact-section {
  padding: 50px 0;
  background-color: #f9ecea;
  color: #9e5952;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-left, .contact-right {
  width: 48%;
}

.about img{
  width: 20em; /* Set the desired width */
  height: 23em; /* Set the desired height */
  object-fit: cover; /* Ensures the image maintains aspect ratio and fills the area */
  border-radius: 8px;
}

/* Map */
#map iframe {
  width: 100%;
  height: 32rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Contact Form */
.contact-right form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  font-size: 14px;
}

.form-group textarea {
  height: 120px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #9e5952;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f35525;
}

/* Contact Details (Phone and Email) */
.contact-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.contact-details .contact-item:hover{
  transform: scale(1.1);
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-item img {
  margin-right: 15px;
  width: 40px;
}

/* 
.contact-item h6 {
  font-size: 1rem;
  color: #333;
} */

.contact-item h6 span {
  display: block;
  color: #999;
  font-size: 14px;
}

footer {
  background-color: #FFF;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
